body
{
	overflow-x: hidden;
}

.pierwszy
{
	border-right: none;
}

.korzysci > ol 
{
	list-style-type: none;
	-webkit-columns: 1; 
	-moz-columns: 1; 
	columns: 1; 
	padding-left: 0;
}

.tekst
{
	text-align: left;
}

.czas
{
	font-size: 18px;
	padding: 5px;
}

.stopka
{
	font-size: 16px;
	text-align: left;
	margin-top: 10px;
	padding: 10px;
}

h3
{
	text-align: left;
}

.naglowek
{
	padding-left: 5px;
	padding-right: 5px;
}