
.icon-doc-text:before { content: '\e800'; } /* '' */
.icon-book-open:before { content: '\e801'; } /* '' */
.icon-gift:before { content: '\e802'; } /* '' */
.icon-vcard:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-mail-circled:before { content: '\e805'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
